html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

#screenOverlay {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 1000;
  transition: opacity 5s ease;
  opacity: 1;
  pointer-events: none;
}

#overlayMessage {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
}

#location {
  position: relative;
  width: 100%;
  height: 70vh;
}

#backgroundLayer {
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
  transition: all 0.5s ease;
}

#Avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  max-width: 400px;
}

#Avatar img {
  width: 100%;
}

#UI {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;

}

#situation {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.534);
}

#dialogue {
  padding: 10px;
  font-size: 20px;
  overflow-y: auto;
}

#options {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2); 
  border: 2px solid white; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  color: white; 
}
